<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>note_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,390},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,103}}</string>
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>

			<key>note_effect_hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>

			<key>note_effect_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,934},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>

			<key>note_effect_hit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,950},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,63}}</string>
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>

			<key>note_effect_hit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,950},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,40}}</string>
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>

			<key>note_effect_hit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,598},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>

			<key>note_effect_miss_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,830},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,119}}</string>
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>

			<key>note_effect_miss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,694},{136,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,135}}</string>
				<key>sourceSize</key>
				<string>{136,135}</string>
			</dict>

			<key>note_effect_miss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{152,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,151}}</string>
				<key>sourceSize</key>
				<string>{152,151}</string>
			</dict>

			<key>note_effect_miss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{152,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{152,151}}</string>
				<key>sourceSize</key>
				<string>{156,155}</string>
			</dict>

			<key>note_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,830},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,103}}</string>
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>

			<key>note_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,494},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,103}}</string>
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>

			<key>note_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,694},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,103}}</string>
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>

			<key>pannal_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,104},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>pannal_touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,208},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>touch_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{194,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,194}}</string>
				<key>sourceSize</key>
				<string>{194,194}</string>
			</dict>

			<key>touch_touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{194,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,194}}</string>
				<key>sourceSize</key>
				<string>{194,194}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>game_sprites.png</string>
			</dict>
		</dict>
</plist>