<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>menu_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{415,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,136}}</string>
				<key>sourceSize</key>
				<string>{415,136}</string>
			</dict>

			<key>menu_edit_normal_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,413},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_edit_normal_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,275},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_edit_select_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,137},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_edit_select_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,827},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_exit_normal_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,689},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_exit_normal_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,551},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_exit_select_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,413},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_exit_select_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,551},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_option_normal_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,137},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_option_normal_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,827},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_option_select_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_option_select_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,275},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_start_normal_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_start_normal_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,551},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_start_select_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,275},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

			<key>menu_start_select_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,137},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,137}}</string>
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>main_sprites.png</string>
			</dict>
		</dict>
</plist>